.pop-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-bg-color{
      background-color: #49BBBD;
}
.main-text-color{
      color: #252641;
}
.s-text-color{
      color: #FFFFFF;
}