.pop-regular {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.main-bg-color{
      background-color: #49BBBD;
}
.main-text-color{
      color: #252641;
}
.s-text-color{
      color: #FFFFFF;
}
.curve-bg {
  height: 200px;
  background-color:  #49BBBD;
  border-bottom-left-radius: 50% 100%;
  border-bottom-right-radius: 50% 100%;
}
